/* Css que implementa responsividade e ajuda na visualização dos elementos
criados, para melhor manipulação */

/* Todo o container da esquerda */
.CalendarAppContainer {
  flex: 0 0 70%;
  padding: 0;
  font-size: 1em;
  text-align: center;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Cabeçalho do container de calendário */
.HeaderCalendarAppContainer {
  display: flex;
  max-height: 5em;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 2px lightgray;
}

/* Título do cabeçalho do container de calendário */
.CalendarAppTitleContainer {
  flex: 25%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #5082ff;
}

/* Container do Botão que volta para o mês atual */
.ReturnButtonContainer {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container onde mostra o mês e o ano que estão sendo exibidos */
.CurrentDateContainer {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  color: white;
}

.CalendarContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: none;
}
