.CurrentMonthButton {
  justify-content: center;
  align-items: center;
  background-color: #5082ff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  color: white;
  transition: transform 0.3s ease;
}

.CurrentMonthButton:hover {
  background-color: #5082ff80;
  transform: scale(1.1);
}
