.CurrentSelectedDay{
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  background-color: #ff5950;
  border-radius: 12px;
  color: white;
  transition: transform 0.3s ease;
}

.CurrentSelectedDay:hover{
  background-color: #ff595092;
  color:#424242;
  transform: scale(1.1);
}