header {
  color: gray;
  width: 100%;
  text-align: center;
}

#marciosobral{
  animation: cor1 4s infinite;
}

#dev{
  animation: cor2 4s infinite;
}

@keyframes cor1{
  0% {
    color: white;
  }
  50% {
    color: gray;
  }
  100% {
    color: white;
  }
}

@keyframes cor2{
  0% {
    color: gray;
  }
  50% {
    color: white;
  }
  100% {
    color: gray;
  }
}