.Screen {
  display: flex;
  min-height: 100vh;
}

/* @media (max-width: 768px) { */
@media (max-width: 1280px) {
  .Screen {
    flex-direction: column;
  }
  .CalendarAppContainer, .ReminderAppContainer {
    flex: 1;
  }
  .HeaderCalendarAppContainer{
    flex: 1;
  }
  .TitleContainer, .WeatherWidgetContainer, .CurrentDateContainer{
    flex: 1;
  }
}