/* Css que implementa responsividade e ajuda na visualização dos elementos
criados, para melhor manipulação */

.CalendarAppContainer {
  flex: 0 0 70%;
  padding: 0;
  font-size: 1em;
  text-align: center;
  background-color: #242424;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HeaderCalendarAppContainer {
  display: flex;
  max-height: 5em;
}

.CalendarAppTitleContainer {
  flex: 3;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-weight: bold;
}

.WeatherWidgetContainer {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.CurrentDateContainer {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.CalendarContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: none;
}
