/* Css básico apenas para visualizar melhor o tamanho dos elementos criados */

.WeekDay {
  font-weight: bold;
}

.PrevMonth {
  background-color: red;
}

.NextMonth {
  background-color: red;
}

.MonthlyDay {
  background-color: green;
}