/* Css básico apenas para visualizar melhor o tamanho dos elementos criados */

/* Dias da semana */
.WeekDay {
  font-weight: bold;
}

/* Dias de outros meses que estão presentes no mês atual */
.PrevMonth, .NextMonth {
  background-color: red;
}

/* Dias do mês atual */
.MonthlyDay {
  background-color: green;
}