/* Css que implementa responsividade e ajuda na visualização dos elementos
criados, para melhor manipulação */

/* Todo o container da direita */
.ReminderAppContainer {
  flex: 0 0 30%;
  padding: 0;
  overflow-y: auto;
  text-align: center;
  background-color: #363636;
  color: (255, 255, 255, 0.87);
}

/* Cabeçalho do container de Reminders */
.HeaderReminderAppContainer {
  display: flex;
  max-height: 5em;
  font-weight: bold;
}

/* Título do cabeçalho do container de Reminders */
.ReminderAppTitleContainer {
  flex: 0 0 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}