.CalendarApp{
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background-color: #fbfbfb;
}

/* Dias da semana */
.WeekDays {
  font-weight: bold;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  color: #424242;
}

.PrevMonth, .NextMonth, .TodayDay, .MonthlyDay, .SelectedDay{
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 5.8em;
  padding-left: 6px;
  border: 1px solid #ddd;
  text-align: left;
  padding-top: 5px;
}
/* Dias de outros meses que estão presentes no mês atual */
.PrevMonth, .NextMonth {
  background-color: #e6e6e6;
  color: #c3c3c3;
}

/* Dias do mês atual */
.MonthlyDay {
  color: black;
}

/* Dia atual */
.TodayDay {
  color: red;
  font-weight: bold;
  background-color: #ff61714a;
}

.PrevMonth:hover, .NextMonth:hover, .TodayDay:hover, .MonthlyDay:hover{
  background-color: #5082ff4a;
}

.PrevMonth:hover, .NextMonth:hover {
  color: black;
}

/* Dia selecionado */
.SelectedDay {
  background-color:#5082ff80;
}

.ReminderInCalendar {
  font-size: clamp(5px, 1.5vw, 10px);
  justify-content: center;
  align-items: center;
  background-color: #14d55b;
  border-radius: 4px;
  padding-left: 6px;
  margin-right: 6px;
  margin-bottom: 4px;
  color: white;
  line-height: 1.5em;
  font-weight: normal;
}

.MoreReminders{
  font-size: 0.65em;
  text-align: center;
  padding-right: 6px;
  line-height: 1.5em;
}

#purple{
  background-color: purple;
}