/* Componente onde que contem a aplicação principal*/

/* Foi criado com TailWind, mas resolvi passar para a .css */
.CalendarReminderContainer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
@media (min-width: 640px) {
  .CalendarReminderContainer {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .CalendarReminderContainer {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .CalendarReminderContainer {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .CalendarReminderContainer {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .CalendarReminderContainer {
    max-width: 1536px;
  }
}