.SubMonthsContainer,
.AddMonthsContainer {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
  background-color: #5082ff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  transition: all 0.6s ease;
}

.AddMonthsContainer:hover, .SubMonthsContainer:hover{
  background-color:#5082ff80;
}

.CalendarMonth {
  flex: 0 0 30%;
  display: flex;
  font-size: 1.25em;
  justify-content: center;
  align-items: center;
  color: #5082ff;
  font-weight: bold;
  padding: 5px;
}