:root {
  font-family: Inter;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  max-width: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
