/* Css que implementa responsividade e ajuda na visualização dos elementos
criados, para melhor manipulação */

/* Todo o container da direita */
.ReminderAppContainer {
  flex: 0 0 30%;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
  color: #424242;
  border-left: 1px solid #ddd;
}

/* Cabeçalho do container de Reminders */
.HeaderReminderAppContainer {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  height: 3em;
  box-shadow: 0px 2px 5px 0px lightgray;
}

/* Título do cabeçalho do container de Reminders */
.ReminderAppTitleContainer {
  flex: 10;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.SubHeaderReminderContainer{
  flex: 0 0 100%;
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2em;
}

.AddReminderContainer {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14d55b;
  border-radius: 12px;
  color: white;
}

.CurrentDayOfReminders{
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  background-color: #ff5950;
  border-radius: 12px;
  color: white;
}

.AddReminderContainer:hover{
  background-color: #50ff9080;
  color: #424242;
}

.CurrentDayOfReminders:hover{
  background-color: #ff595092;
  color:#424242;
}

.Reminders {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: none;
  flex-direction: column;
}

.Reminder{
  flex: 1;
  font-size: 1.5em;
  min-height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}